*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #7B7D81;
  font-size: .8rem;
}

.debug{
  background-color: rgba(9, 127, 9, 0.18);
  min-width: 10px;
  min-height: 30px;
  border: 1px solid black;
}

/****************** STRUTTURA ************/
.container{
  margin: 0 auto;
  width: 95%
}

.row{
  width: 100%;
  display: flex;
}

.col{
 width: calc(100% / 6); 
}

.card{
 margin: 10px;
 position: relative;
}


.card i{
  background-color: rgba(0, 0, 0, 0.345);
  font-size: 4rem;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 30%;
  display: none;
 
}



.bar{
  height: 80px;
}

/****************** /STRUTTURA ************/

/***************** UTILITY *************/

img{
  max-width: 100%;
}

.bold{
  font-weight: bold;
}

.d-flex{
  display: flex;
}

.txt-center{
  text-align: center;
}
.just-center{
  justify-content: center;
}

.just-between{
  justify-content: space-between;
}

.white{
  color: white;
}

.green{
  color: #B3FF32;
}

.button{
  border: 1px solid white;
  border-radius: 15px;
  height: 30px;
  padding: 0 25px 0 25px;
}

/***************** MAIN ******************/

main{
  height: calc(100vh - 80px);
  display: flex;
}

main .aside{
  display: flex;
  flex-direction: column;
  width: 230px;
  background-color: black;
  padding-left: 20px;
  font-size: .9rem;
  font-weight: 600;
}

main .content{
 width: calc(100% - 220px);
  overflow: auto;
}

/***************** ASIDE ******************/
.aside-header .logo{
width: 140px;  
margin: 20px 0 20px 0;
}

.aside-header .logo-mini{
display: none;
}

.aside-main{
height: calc(100% - 160px);
overflow: auto; 
}

.aside-main .playlist{
  margin-top: 7px;
}

.aside-main img.icon{
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.aside-main .txt{
  line-height: 25px;
}

.aside-main .playlist li{
  margin-top: 10px;
}
.aside-footer{
  padding-top: 5px;
  height: 65px;
}

.aside-footer .download {
  line-height: 15px;
}
.aside-footer .download img{
  width: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.aside-footer .profile{
  line-height: 20px;
  margin-top: 10px
}
.aside-footer .profile img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #7B7D81;
  border-radius: 50%;
}

/***************** ASIDE ******************/

/***************** CONTENT *****************/

.content-header{
  height: 80px;
  justify-content: flex-end;
  align-items: center;
  line-height: 30px;
  background-color: rgb(0, 0, 0);
}
.content-main{
  padding-top: 10px;
}
.categorie li{
  padding: 5px 5px 2px 5px;
}

/***************** /CONTENT *****************/

/****************** /MAIN *******************/

/******************* AZIONI *******************/
.card:hover i{
  display: block;
}
/******************* AZIONI *******************/
/************* RESPONSIVE ************/

@media (max-width: 1100px){
  .col{
    width: calc(100% / 4);
  }
  .content-main .row{
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .col{
    width: calc(100% / 2);
  }
}

@media (max-width: 600px){
  main .aside{
    width: 40px;
    align-items: center;
    padding-left: 0;
  }

  main .content{
    width: calc(100% - 40px);
  }

  .aside-header .logo,
  .txt,
  hr{
    display: none;
  }

  .aside-header .logo-mini{
    display: block;
    width: 20px;
    margin-top: 3px;
    margin-bottom: 10px;
  }

  .aside-main img.icon{
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
  }

  .aside-main{
    height: 100%;
  }

  .aside-footer{
    margin-bottom: 10px;
  }
  .aside-footer p{
    display: none;
  }

}

@media (max-height: 350px){
  .aside-main{
    height: 100%;
  }
  .aside-footer{
    display: none;
  }

 }

